<div class="row">
  <div class="col-sm-12">
    <h2>Demo App for Michelada.io</h2>
    <p>
      <strong>About this app:</strong>
    </p>
    <p>
      This app has 2 entities, Brand and Product. A brand can belong to many products and a product has a brand. Below are the requirements.
    </p>
    <h3>Brands</h3>
    <ul>
      <li>User can create a brand. Brands only have a name. Show an error if the user hasn't written a name.</li>
      <li>User can view a list with all the existing brands.</li>
      <li>User can delete a brand. Show an alert asking if the user is sure about doing it.</li>
    </ul>
    <h3>Products</h3>
    <ul>
      <li>User can create a product. Products have: name, brand (select one from the ones already created), description and price.</li>
      <li>Show an error if the product has no name or if the price is greater than 100.</li>
      <li>User can view a list of all existing products. Show the total of the sum of all the products</li>
      <li>User can edit a product.</li>
      <li>User can delete a product.</li>
    </ul>
  </div>
  <h3>Extra points</h3>
  <ul>
    <li>User <a href="getbootstrap.com/">Bootstrap</a> to make the proyect looks nice.</li>
    <li>Create some tests for your code.</li>
  </ul>

  <p>
    The code is hosted in this <a href="https://github.com/Zauvohi/brands-products">repository</a>.
  </p>
</div>
