<h1>New Brand</h1>

<div class="row">
  <%= render 'form', brand: @brand %>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <%= link_to 'Back', brands_path, class: 'btn btn-default' %>
  </div>
</div>
