<h1>New Product</h1>

<div class="row">
  <%= render 'form', product: @product %>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <%= link_to 'Back', products_path, class: 'btn btn-default' %>
  </div>
</div>
